body{
    margin:0;
}
button{
    display: block;
}
.container{
    position:relative;
    border: 2px solid black;
    padding:0;
}

.box{
    position:absolute;
    /*border:2px solid green;*/
    background-color:green;
    opacity:0.2;
    margin:0;
}