body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    color:#3b3a3a;
}

h1{
    text-align: center;
    padding-top:5px;
    display:block;
    margin:auto;
    margin-bottom:20px;
    font-weight: 100;
    /*border-bottom:2px dotted lightblue;*/
    width:40%;
    min-width: 300px;
}


h3{
    margin:auto;
    margin-top:10px;
    display:block;
    text-align:center;
    padding:5px;
    font-weight: 100;
    border:2px dashed lightblue;
    width:40%;
    min-width: 300px;
    min-height: 60px;
}
input[type="file"]{
    display:none;
}

.hidden{
    display:none;
}

.uploadBtn{
    border-radius:3px;
    border:2px solid lightblue;
    padding:5px;
    text-align:center;
    color:darkgrey;
    width:90px;
    margin:auto;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 2px 2px;
}

.uploadBtn:hover{
    cursor: pointer;
}

.uploadBtn:active{
    box-shadow: 0 0;
    transform: translate(2px,2px);
}

.btnContainer{
    display:block;
    margin:auto;
    width:400px;
    text-align:center;
    height:50px;
    margin-top:15px;
}

.translateBtn{
    border-radius:3px;
    display:inline-block;
    box-shadow: 2px 2px;
    /*dsdfasdfdfasd*/
    border:2px solid lightblue;
    padding:5px;
    text-align:center;
    color:darkgrey;
    margin:auto;
    margin-left:10px;
}

.translateBtn:hover{
    cursor:pointer;
}
.translateBtn:active{
    box-shadow: 0 0;
    transform: translate(2px,2px);
}


div.gsc-control-cse{
    width:800px;
    margin:auto;
    display:block;
}
.container{
    position:relative;
    padding:0;
    width:800px;
    margin:auto;
    display:block;
    
}

.box{
    position:absolute;
    /*border:2px solid green;*/
    background-color:green;
    opacity:0.2;
    margin:0;
}

.box:hover{
    cursor:pointer;
}