body{
    margin:0;
}
button{
    display: block;
}
.container{
    position:relative;
    border: 2px solid black;
    padding:0;
}

.box{
    position:absolute;
    top:4px;
    left:0px;
    width:28px;
    height:10px;
    border:2px solid green;
    margin:0;
}